@import "tailwindcss";

@theme {
  --color-primary-fixed: #d6e3ff;
  --color-surface-tint: #465888;
  --color-error: #9f403d;
  --color-on-secondary-fixed-variant: #4e5c71;
  --color-inverse-primary: #aec7f7;
  --color-surface-container-low: #f0f4f7;
  --color-outline-variant: #a9b4b9;
  --color-on-tertiary-fixed: #383751;
  --color-primary-container: #d6e3ff;
  --color-on-secondary: #f8f8ff;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-on-surface: #9a9d9f;
  --color-secondary-fixed-dim: #c7d5ed;
  --color-tertiary-dim: #51516c;
  --color-on-surface: #2a3439;
  --color-on-surface-variant: #566166;
  --color-surface-container: #e8eff3;
  --color-on-error-container: #752121;
  --color-tertiary: #5d5c78;
  --color-on-secondary-container: #455367;
  --color-error-container: #fe8983;
  --color-surface-container-highest: #d9e4ea;
  --color-surface: #f7f9fb;
  --color-outline: #717c82;
  --color-secondary-dim: #465468;
  --color-on-tertiary-fixed-variant: #54546f;
  --color-primary: #465f88;
  --color-on-error: #fff7f6;
  --color-on-background: #2a3439;
  --color-on-secondary-fixed: #324053;
  --color-inverse-surface: #0b0f10;
  --color-on-primary-fixed: #264067;
  --color-tertiary-fixed: #d9d7f8;
  --color-surface-dim: #cfdce3;
  --color-error-dim: #4e0309;
  --color-on-tertiary: #fbf7ff;
  --color-secondary: #526074;
  --color-on-primary-container: #39527b;
  --color-tertiary-container: #d9d7f8;
  --color-on-tertiary-container: #4b4a65;
  --color-secondary-fixed: #d5e3fc;
  --color-surface-variant: #d9e4ea;
  --color-primary-dim: #3a537c;
  --color-surface-bright: #f7f9fb;
  --color-secondary-container: #d5e3fc;
  --color-on-primary: #f6f7ff;
  --color-background: #f7f9fb;
  --color-surface-container-high: #e1e9ee;
  --color-on-primary-fixed-variant: #435c85;
  --color-tertiary-fixed-dim: #cbc9e9;
  --color-primary-fixed-dim: #c0d5ff;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .glass-panel {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}
body { font-family: 'Inter', sans-serif; }
h1, h2, h3 { font-family: 'Manrope', sans-serif; }
